# SCRAPER
SCRAPINGBEE_API_KEY = ""
SCRAPINGBEE_NB_RESULTS = "10"
SCRAPINGBEE_COUNTRY_CODE = "pe"
SCRAPINGBEE_LANGUAGE = "es"
SCRAPINGBEE_COMMERCIAL_ACTIVITY = "" 
SCRAPINGBEE_NFPR = "True"

# AZURE OPENAI
AZURE_OPENAI_API_KEY = ""
AZURE_OPENAI_API_ENDPOINT = ""
AZURE_OPENAI_API_VERSION="2024-02-15-preview"
AZURE_OPENAI_MODEL_1_DEPLOYMENT_NAME=""
AZURE_OPENAI_MODEL_2_DEPLOYMENT_NAME=""
AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_NAME="text-embedding-3-small"
AZURE_OPENAI_CHAT_TEMPERATURE=0.2
AZURE_OPENAI_CHAT_COMPLETION_CHOICES=1
AZURE_OPENAI_CHAT_PRESENCE_PENALTY=0
AZURE_OPENAI_CHAT_TOP_P=0.1

# OPENAI
OPENAI_API_KEY = ""

# DOCUMENT INTELLIGENCE
DOCUMENT_INTELLIGENCE_ENDPOINT = ""
DOCUMENT_INTELLIGENCE_API_KEY = ""

# API
ASSISTANT_API_KEY="compliance"
ASSISTANT_API_ORIGINS= ["http://localhost", "http://localhost:8080", "*"]

